<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>
<div class="container" id="main-container">
  <hr>
  <span id="category-new-category">
    <h4>Categorias</h4>
    <a class="btn" href="/admin/categories/new" id="new-category">
      <img src="/img/icon-add-white.svg" title="Nova categoria" width="25" height="25">
      Nova Categoria
    </a>
  </span>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <a href="" id="table-head">
            ID
            <img src="/img/icon-filter.svg" id="icon-filter" title="Filtrar" width="20" height="20">
          </a>
        </th>
        <th scope="col">
          <a href="" id="table-head">
            Título
            <img src="/img/icon-filter.svg" title="Filtrar" width="20" height="20">
          </a>
        </th>
        <th scope="col">
          <a href="" id="table-head">
            Slug
            <img src="/img/icon-filter.svg" title="Filtrar" width="20" height="20">
          </a>
        </th>
        <th scope="col">
          <a href="" id="table-head">
            Ações
            <img src="/img/icon-filter.svg" title="Filtrar" width="20" height="20">
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach((category, index) => { %>
        <tr>
          <th class="tr-body"><%= category.id %></th>
          <th class="tr-body"><%= category.title %></th>
          <th class="tr-body"><%= category.slug %></th>
          <th>
            <form method="POST" action="/admin/categories/edit" id="form-edit-category" >
              <img src="/img/icon-edit.svg" title="Editar" width="25" height="25">
              <input type="hidden" name="id" value="<%= category.id %>">
              <button id="edit-category">Editar</button>        
            </form>
            <form method="POST" action="/admin/categories/delete" class="form-delete-category" id="form-delete-category-<%= index %>" onsubmit="formDelete(event)">
              <img src="/img/icon-delete.svg" id="icon-delete" title="Deletar" width="25" height="25">
              <input type="hidden" name="id" value="<%= category.id %>">
              <button id="delete-category" data-bs-toggle="modal" data-bs-target="#modalDeleteCategory-<%= index %>">Deletar</button>
              <%- include('../../partials/modal-delete-category', {category: category.title, index: index }) %>
            </form>
          </th>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include('../../partials/footer') %>
<script>
  const titleElement = document.getElementById('title-html');
  const dynamicTitle = "Categorias - DevZone";
  titleElement.textContent = dynamicTitle;

  let formDelete = (event) => {
    event.preventDefault();
  };  
</script>

